.service-wrapper-detail {
	padding: 7px 41px;
	background-color: var(--background-color);
	border-radius: 10px;
	margin-bottom: 20px;
	height: 177px;
}
.service-wrapper-detail p {
	color: #fff;
	font-size: 14px;
}
.service-wrapper-detail h6 {
	color: #fff;
	font-size: 14px;
	margin-bottom: 8px;
}
.all-main-heading-website.text-center p {
	padding: 10px 100px;
	line-height: 1.5;
}
section.service {
	padding: 20px 0 100px 0;
}
@media (max-width: 1366px) {
	.service-wrapper-detail h6 {
		font-size: 13px;
	}
	.service-wrapper-detail p {
		font-size: 13px;
	}
}
