h2.privacy-main {
	text-align: center;
	font-family: var(--bold-font-family);
}
h2.Terms-Condition-main {
	text-align: center;
	font-family: var(--bold-font-family);
}
.privacy-main {
	text-align: center;
	font-family: var(--bold-font-family);
}
.shipment-main {
	text-align: center;
	font-family: var(--bold-font-family);
}
